* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background: #111827;
  color: white;
  padding: 20px;
  
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar a {
  display: block;
  color: #cbd5e1;
  text-decoration: none;
  margin-bottom: 12px;
}

.sidebar a:hover {
  color: white;
}

.main {
  box-shadow:  -15px 0px 60px 25px #ffffff inset, 
        5px 0px 10px -5px #000000 inset;
  flex: 1;
  background: #f1f5f9;
  display: flex;
  flex-direction: column;
}

.topbar {
  background: white;
  padding: 15px 20px;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-between;
}

.content {
  padding: 20px;
}

.content div{
  margin:15px;
  background: rgb(203, 219, 224);
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

