* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}

.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background: #111827;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar a {
  margin: 25px 0px 0px 5px;;
  display: block;
  color: #cbd5e1;
  text-decoration: none;
  margin-bottom: 12px;
}

.sidebar a:hover {
  color: white;
}

.main {
  box-shadow: rgb(50, 50, 93) 0px 2px 8px 1px inset, rgb(0, 0, 0) 0px 0px 1px -1px inset;
        flex: 1;
  background-color: #5b8599;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.topbar {
  background: rgb(203, 219, 224);
  border-bottom: 1px solid #b2bfce;
  display: flex;
  justify-content: space-between;
}

.system {
  padding: 15px 20px;
}

.topbar input{
  padding: 0px;
  width: 60px;
  height: 60px;
}

.topbar input:hover{
  background: rgb(238, 247, 249);
}

.content {
  padding: 20px;
}

.content div{
  word-break: break-word;
  margin:15px;
  background: rgba(203, 219, 224, 0.566);
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.createBtn {
  background-color: #212b3e;
  color: white;
  padding: 10px 15px;
  margin-left: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.user-table th, .user-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}
.user-table th {
    background-color: #f4f4f4;
}

.image {
  width: 200px;
  height: auto;
}
