
body {
  background-color: #5b8599;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.form-box {
  width: 350px; 
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: rgba(203, 219, 224, 0.427);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-box label {
  font-weight: bold;
  margin-bottom: 4px;
}

.form-box input,
.form-box select,
.form-box textarea {
  padding: 8px;
  background-color: rgb(220, 230, 233);
  border: 1px solid #949494;
  border-radius: 4px;
  font-size: 14px;
}

.form-box button {
  margin-top: 10px;
  padding: 10px;
  background: #4ca3ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-box button:hover {
  background: #1f63ab;
}
